<% provide(:title, "Illib.Home") %>
<div class="jumbotron homescreen">
  <h1>Illib</h1>
  <h4>Keep track of your Illustrated Library</h4>
</div>

<div class="container">
  <h1>Illib.All</h1>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Favorite Publisher</th>
        <th>Number of Comics</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td><%= user.fav_pub %></td>
          <td><%= user.comics.length %> comics</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
