<% provide(:title, "Illib.Home") %>
  <div class="jumbotron homescreen row">
    <div class="col-md-1"> </div>
    <div class="col-md-5">
      <h1>Illib</h1>
      <h3>Share and Track your Illustrated Library</h3>
    </div>
    <div class="col-md-6 main-logo-bubbles">
      <span><%= image_tag "sbubbles.jpg", class:"bubbles-image-round" %></span>
    </div>
  </div>

<div class="container">
  <h1>Illib.All</h1>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Favorite Publisher</th>
        <th>Number of Comics</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td><%= user.fav_pub %></td>
          <td><%= user.comics.length %> comics</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
