/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Futura;
}

.navbar-inverse {
  background-color: #344152;
}

#home_homie {
  text-decoration: none;
}

.bubs {
  margin-top: 7px;
}

span.trackcomic {
  margin: 0 0 0 3px;
  color: #fdf9f3;
  font-size: 1.2em;
}

.funfunfunfun {
  padding: 0 10px 10px 0;
}

.abcde {
  text-decoration: none;
}

.abcdefg {
  font-size: 1.05em;
  padding: 10px 0 5px 0;
}

.funfunfun {
  margin: 0 0 10px 5px;
}

.navbar {
  border-radius: 0px;
}

.homescreen {
  background-color: #A2B5CD;
}

.main-logo-bubbles {
  margin: -20px -20px -110px 0;
}

.bubbles-image-round {
  border-radius: 15px;
}

.modal-button-checkout {
  margin: 0 5px 0 10px;
}

.modal-button-checkin {
  margin: 2px 0 3px 0px;
}

.show-comic-buttons {
  text-decoration: none;
  margin: 5px 10px 15px 0;
}

.show-comic-list {
  border: 2px solid #A2B5CD;
  border-radius:10px;
}

.show-comic-icon {
  margin: 10px 0 10px 10px;
}

.show-comic-attributes {
  margin: 10px 0 10px 0;
}

.show-comic-attributes-p {
  font-size: 1.05em;
  padding: 25px 0 10px 0;
}

.form-comic-attributes-x {
  font-size: 1.05em;
  padding: 10px 0 15px 0;
}

.back-button-comic-form {
  margin-left: 10px;
}

.abcdefghi {
  font-size: 1.05em;
  margin: 6px 2px 0 5px;
}

.comic-print:hover {
  text-shadow: 1.5px 1.5px blue, -1.5px -1.5px yellow, 1.5px -1.5px red;
}
